body, html {
  height: 100%;
  }
  
.card{
  box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);
}

.col-sm{
  margin-bottom: 1em;
}
.footer {
  padding: 16px 0px 16px 0px;
  background-color: #2a4abb;
  color: #ffff;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer a {
  color: #bae9ce;
}
.navbar{
  background-color: #2a4abb;
}

.pagging-btns{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.scroll-top{
  background-color: #212529;
  font-size: 20px;
  border: 2px solid #ffffff;
  padding: 0px 8px 0px 8px;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
}
.btn-primary:hover {
background-color: #ffff !important;
color: #2a4abb !important;
}
.btn-primary{
  background-color: #2a4abb;
  color:#ffff;
  }